@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào Mừng</h1>
    <p>Đây là web Quản Lý Nhân Sự được tạo nên bởi nhóm 1</p>
    <table border="5" class="align-items-center">
        <tr>
            <th>Họ tên</th>
            <th>MSSV</th>
            <th>Nhiệm vụ</th>
        </tr>
        <tr>
            <td>Lê Hoàng Tâm</td>
            <td>2200004545 </td>
            <td>Chính sách nhân sự</td>
        </tr>
        <tr>
            <td>Nguyễn Tấn Dũng</td>
            <td>2200004963 </td>
            <td>Nhân sự</td>
        </tr>
        <tr>
            <td>Trương Thuý Phương</td>
            <td>2200002599 </td>
            <td>Đào tạo</td>
        </tr>
        <tr>
            <td>Trần Châu An</td>
            <td>2200001302 </td>
            <td>Tuyển dụng</td>
        </tr>
        <tr>
            <td>Nguyễn Anh Nhi</td>
            <td>2200000899 </td>
            <td>Đánh giá</td>
        </tr>
        <tr></tr>
    </table>
</div>
