<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link" asp-area="" asp-controller="NhanViens" asp-action="Index">Nhân sự</a>
                    <a class="nav-link" asp-area="" asp-controller="Kpis" asp-action="Index">Đánh giá KPI</a>
                    <a class="nav-link" asp-area="" asp-controller="Dchinhsaches" asp-action="Index">Chính sách nhân sự</a>
                    <a class="nav-link" asp-area="" asp-controller="Cvs" asp-action="Index">Tuyển dụng nhân sự</a>
                    <a class="nav-link" asp-area="" asp-controller="KhoaDaoTaos" asp-action="Index">Khóa đào tạo</a>
                </div>
            </div>
        </nav>
    </div>
</div>

